Explore and prepare location data for features join

In [1]:
import pandas as pd
location=pd.read_csv('./data/Geo/medical/Practices/regions/gp_geo.csv')

In [2]:
location.head()

,Unnamed: 0,Practice Code,Practice Name,Postcode,Status Code,easting,latitude,longitude,northing
0,0,A81002,QUEENS PARK MEDICAL CENTRE,TS18 2AW,A,444458,54.569163,-1.313880,519543
1,2,A81004,BLUEBELL MEDICAL CENTRE,TS5 8SB,A,447840,54.538132,-1.262129,516124
2,3,A81005,SPRINGWOOD SURGERY,TS14 7DJ,A,461221,54.532597,-1.055444,515668
3,4,A81006,TENNANT STREET MEDICAL PRACTICE,TS18 2AT,A,444479,54.568811,-1.313561,519504
4,5,A81007,BANKHOUSE SURGERY,TS24 7PW,A,450765,54.682342,-1.214164,532203

In [3]:
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11802 entries, 0 to 11801
Data columns (total 9 columns):
Unnamed: 0       11802 non-null int64
Practice Code    11802 non-null object
Practice Name    11802 non-null object
Postcode         11802 non-null object
Status Code      11802 non-null object
easting          11802 non-null int64
latitude         11802 non-null float64
longitude        11802 non-null float64
northing         11802 non-null int64
dtypes: float64(2), int64(3), object(4)
memory usage: 829.9+ KB

In [4]:
len (location ['Practice Code'].unique())

11802

The list include practices in Wales that are not part of the study as they do not have QoF data and are now filtered out

In [5]:
#join regional data to location 
regional=pd.read_csv('./data/Geo/GPs_CCGs_NHS_Regions.csv')
loc_reg_outer=pd.concat([location, regional], axis=1, join='outer')

#select the rows for practices in location but not in regional
loc_not_in_reg=loc_reg_outer.loc[loc_reg_outer['CCG name'].notnull()]

In [7]:
loc_not_in_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7392 entries, 0 to 7391
Data columns (total 17 columns):
Unnamed: 0                   7392 non-null int64
Practice Code                7392 non-null object
Practice Name                7392 non-null object
Postcode                     7392 non-null object
Status Code                  7392 non-null object
easting                      7392 non-null int64
latitude                     7392 non-null float64
longitude                    7392 non-null float64
northing                     7392 non-null int64
Region geography code        7392 non-null object
Region name                  7392 non-null object
Sub-region geography code    7392 non-null object
Sub-region name              7392 non-null object
CCG geography code           7392 non-null object
CCG name                     7392 non-null object
Practice code                7392 non-null object
Practice name                7392 non-null object
dtypes: float64(2), int64(3), object(12)
memory usage: 1.0+ MB

In [8]:
loc_not_in_reg.columns

Index(['Unnamed: 0', 'Practice Code', 'Practice Name', 'Postcode',
       'Status Code', 'easting', 'latitude', 'longitude', 'northing',
       'Region geography code', 'Region name', 'Sub-region geography code',
       'Sub-region name', 'CCG geography code', 'CCG name', 'Practice code',
       'Practice name'],
      dtype='object')

In [9]:
loc_not_in_reg=loc_not_in_reg[['Practice Code', 'Practice Name', 'Postcode',
       'Status Code', 'latitude', 'longitude', 'easting', 'northing']]

In [10]:
loc_not_in_reg.head()

,Practice Code,Practice Name,Postcode,Status Code,latitude,longitude,easting,northing
0,A81002,QUEENS PARK MEDICAL CENTRE,TS18 2AW,A,54.569163,-1.313880,444458,519543
1,A81004,BLUEBELL MEDICAL CENTRE,TS5 8SB,A,54.538132,-1.262129,447840,516124
2,A81005,SPRINGWOOD SURGERY,TS14 7DJ,A,54.532597,-1.055444,461221,515668
3,A81006,TENNANT STREET MEDICAL PRACTICE,TS18 2AT,A,54.568811,-1.313561,444479,519504
4,A81007,BANKHOUSE SURGERY,TS24 7PW,A,54.682342,-1.214164,450765,532203

In [87]:
loc_not_in_reg.to_csv('./data/Geo/medical/Practices/GPs_locations_Eng.csv')

The table can be used to be joined on practice code.